main {
  /* padding-top:90px; */

}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}


.header {
  background-color: palegreen;
  text-align: center;
  width: 100%;
  padding: 10px;
}
